<<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Consulta do Acervo</title>
    <link rel="stylesheet" href="consulta.css">
</head>
<body>

<button id="btnCatalogar">Consultar</button>

    <div id="modal" class="modal">
        <div class="modal-conteudo">
            <span class="fechar-modal">&times;</span>
            <p>A obra pesquisada está localizada:</p>
        </div>
    </div>

    <script src="catalogacao.js"></script>



    <header>
        <h1>Consulta do Acervo</h1>
    </header>

    <nav>
        <ul>
            <li><a href="base v2.html">Página Inicial</a></li>
            <li><a href="catalogacao.html">Catalogação do Acervo</a></li>
		    <li><a href="consulta.html">Consulta do Acervo</a></li>
		    <li><a href="emprestimo.html">Registro de Empréstimo</a></li>
		    <li><a href="devolucao.html">Consulta de Devolução</a></li>
        </ul>
    </nav>

    <main>
        <section id="consulta">
            <form id="formulárioobra">
            <label for="titulo">Título da obra:</label>
            <input type="text" id="titulo" name="titulo"><br><br>

            <label for="autor">Nome do autor:</label>
            <input type="text" id="autor" name="autor"><br><br>

			<label for="autor">Ano de publicação:</label>
            <input type="text" id="ano" name="ano"><br><br>

			<label for="autor">ISBN:</label>
            <input type="text" id="isbn" name="isbn"><br><br>

            <button type="submit">Consulta</button>
        </form>

    </main>

</body>
</html>