<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Registro de Empréstimo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="emprestimo.css" />
</head>
<body>

<button id="btnCatalogar">Registrar</button>

    <div id="modal" class="modal">
        <div class="modal-conteudo">
            <span class="fechar-modal">&times;</span>
            <p>Registro realizado!</p>
        </div>
    </div>

    <script src="emprestimo.js"></script>

    <header>
        <h1>Registro de Empréstimo</h1>
		<nav>
        <ul>
            <li><a href="base v2.html">Página Inicial</a></li>
            <li><a href="catalogacao.html">Catalogação do Acervo</a></li>
		    <li><a href="consulta.html">Consulta do Acervo</a></li>
		    <li><a href="emprestimo.html">Registro de Empréstimo</a></li>
		    <li><a href="devolucao.html">Consulta de Devolução</a></li>
        </ul>
    </nav>
    </header>

    <section id="registro">

        <form id="formulárioobra">
            <label for="titulo">Título da obra:</label>
            <input type="text" id="titulo" name="titulo"><br><br>

            <label for="autor">Nome do autor:</label>
            <input type="text" id="autor" name="autor"><br><br>

			<label for="autor">Ano de publicação:</label>
            <input type="text" id="ano" name="ano"><br><br>

			<label for="autor">ISBN:</label>
            <input type="text" id="isbn" name="isbn"><br><br>

			<label for="autor">Data do empréstimo:</label>
            <input type="text" id="isbn" name="isbn"><br><br>

            <button type="submit">Registrar</button>
        </form>

</body>
</html>
</body>
</html>